.label1 {
    -fx-font-size: 15px; /* Change font size */
    -fx-font-weight: lighter;
     /* Make text bold */
}


.button33{
    -fx-background-color: #6ab187; /* Change button background color */
    -fx-text-fill: white; /* Change button text color */
    -fx-font-size: 14px; /* Change font size */
    -fx-pref-width: 100px; /* Set preferred width */
    -fx-pref-height: 30px; /* Set preferred height */
}