.box-pretraga{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.sale {
    -fx-padding: 6 12 12 12;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 6;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#a34313 0%,#903b12 100%),
             #9d4024,
             #d86e3a,
            radial-gradient(center 50% 50%, radius 100%,#d96e3a,#c54e2c);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1em; /* Prilagodite veličinu fonta prema potrebi */
    -fx-text-fill: white;
}

.sale:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%,#a34313 0%,#903b12 100),
            #9d4024,
            #d86e3a,
            radial-gradient(center 50% 50%,radius 100%,#ea7f4b,#c54e2c);
}

.sale:pressed {
     -fx-padding: 8 12 10 12;
     -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;
}


.PadajucaBox{  //// PROVIDNO DUGME
    -fx-background-color: rgba(255,255,255,0.2);
    -fx-background-radius: 30;
    -fx-text-fill: white;
    -fx-font-weight : bold;
}

.PadajucaBox:hover {
  -fx-background-color: rgba(255,255,255,0.6);

}


.Panel-card{   /// NARANDZASTO

    -fx-background-color: #F16C31;

}

.kartica-round {

    -fx-background-radius: 30;
    -fx-background-color : rgba(241, 108, 49, 1);
}
.kartica-round4 {

    -fx-background-radius: 30;
    -fx-background-color : rgba(241, 108, 49, 0.8);
}
.kartica-round1 {

    -fx-background-radius: 30;
    -fx-background-color : rgba(241, 108, 49, 1);
}


.tabela {

    -fx-font-size: 15px; /* Change font size */
    -fx-background-radius: 5;


}

.bijela {

    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15px;
    -fx-font-weight : bold;

}

.meniadmin {

    -fx-padding: 10px;
    -fx-background-radius: 20;
    -fx-background-color: white; /* Bijela pozadina */
     -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0); /* Crna sjena */

}


.bijela2 {

    -fx-text-fill: #000000;
    -fx-font-size: 15px;
    -fx-font-weight : bold;


}

.bijela4 {

    -fx-text-fill: #000000;
    -fx-font-size: 13.5px;
    -fx-font-weight : bold;


}

.fontAwesomeIconView {
    -fx-fill: #FFFFFF   ; /* Change the color of the icon */
}







